
.boxNames {
    display: flex;
    padding: 50px 0 30px 40px;
}
.avatarImg {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
.names {
    display: flex;
    align-items: center;
    color: black;
}
.active {
    color: gold;
}
.names a {
    text-decoration: none;
    padding-left: 10px;
}



