/*.usersTitle {*/
/*    padding: 10px;*/
/*    font-size: 22px;*/
/*    color: coral;*/
/*    font-weight: bold;*/
/*}*/

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.btn {
    padding: 5px;
    margin: auto;
    display: flex;
}

.blockName {
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 10px;
}

.boxUsers {
    display: flex;
    margin-top: 20px;
}

.status {
    padding-top: 10px;
}

.boxUser {
    padding: 20px 20px 20px 50px;
}

.city {
    padding-top: 10px;
}


.pagesNumber {
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin: 10px;
    text-align: center;
    font-size: 22px;
}