.posts {
    margin-left: 20px;
    margin-top: 30px;
}

.myPost {
    margin-left: 20px;
    color: white;
}

.form {
    margin-left: 20px;
    display: flex;
}

.textarea {
    width: 700px;
    height: 50px;
    border: none;
    outline: none;
    padding: 8px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    border-radius: 5px;
}

.button {
    background-color: red;
    width: 80px;
    height: 30px;
    text-align: start;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    align-self: flex-end;
}

