.nav {
    grid-area: n;
    background-color: coral;
    font-size: 20px;
    padding: 30px;
}

.item {
    padding-top: 15px;
}

.item a,.itemSettings a {
    color: #fff;
    text-decoration: none;
}

 .item .activeLink {
    color: blue;
}

.itemSettings {
    margin-top: 50px;
}
